/**

  @headings
--------------------------------------------------------
  elements/_headings.scss
--------------------------------------------------------

  We set any base styles for any headings that have
  no classnames.

  Example: Headings
  <h1>This is an h1 heading</h1>
  <h2>This is an h2 heading</h2>
  <h3>This is an h3 heading</h3>
  <h4>This is an h4 heading</h4>
  <h5>This is an h5 heading</h5>
  <h6>This is an h6 heading</h6>

  Additionally, we add classnames so you
  can apply the styling of, for instance, an h1 to an h2.

  Example: H1 styled like an H3
  <h1 class="h3">This is an h1 but looks like an h3</h1>

------------------------------------------------------ */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-heading;
}

// H1


// H2
.h1 {
  margin-bottom: vr(4);
  color: $red;
 // @include set-type($ms-up3);
  font-size: 2.368593037rem;
  
  line-height: 42px; 
  
  @include bp(x-small) {
    line-height: 48px; // 16px
  }
  
    @include bp(large) {
        line-height: 54px; // 18px
    }
  
    @include bp(x-large) {
        line-height: 60px; // 20px
    }
}

.h1 {
  &--intro {
    color: $green-blue;
  }
}

h2, .h2 {
  @include set-type($ms-up2);
  color: $green-yellow;
}

// H3
h3, .h3 {
  @include set-type($ms-up2);
  color: $green-blue;
}
.h3 {
  &--faq {
    color: $green-yellow;
    margin-top: vr(4);
    &:nth-child(1) {
      margin-top: 0;
    }
  }
}


// H4
h4, .h4 {
  @include set-type($ms-up1);
  color: $green-yellow;
}

.h4 {
  &--footer {
    color: mix($white, $yellow, 80%);
    &--signup {
      color: $red;
      margin-bottom: vr(4);
    }
  }
  &--faq {
    color: $green-blue;
  }
  &--signup {
    color: $red;
  }
}



// H5
h5, .h5 {
  margin-bottom: 1em;
}



// H6
h6, .h6 {
  margin-bottom: 1em;
}


