/**

  @icons
---------------------------------------------------------
  elements/_icons.scss
--------------------------------------------------------

  Your icon set may vary. In this partial, you may wish
  to load in a font icon set and add all the associated
  css that goes with it. This would be the case if you
  were using something like Symbolset or IcoMoon for
  example.

--------------------------------------------------------- */





/* @icon
--------------------------------------------------------

  This is a basic icon element. We set some basic
  structural styles and display styles to get the ball
  rolling.

  Example: Open Icon
  <i class="icon icon--open">&plus;</i>

  Example: Close Icon
  <i class="icon icon--close">&times;</i>

------------------------------------------------------ */

/*.icon {
  display: inline-block;
  fill: currentColor; 
 
  &--sm {
    width: vr(4);
    height: vr(4);
    vertical-align: middle;
    fill: $grey50;
 }
  
  &--info, &--meta {
    width: vr(2); 
    height: vr(2);
    margin-right: 0.5rem;
  }
  
  &--facebook:hover { fill: $color-facebook; }
  &--twitter:hover { fill: $color-twitter; }
  &--google:hover { fill: $color-google; }
  &--pinterest:hover { fill: $color-pinterest; }
  
  
  &--arrow-right { width: vr(2); height: vr(2); }
  &--arrow-left { width: vr(2); height: vr(2); }
}*/

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-right: vr(2);

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.acc-toggle .icon-angle-right {
  display: inline-block;
  padding-right: 10px;
  color: mix($white, $red, 50%);
  transition: all 0.5s ease;
}

.open-toggle .icon-angle-right {
  color: $red;
  transform-origin: 25% 50%;
  transform: rotate(90deg) translateX(5px) translateY(-3px);
}

.icon-facebook, .icon-twitter {
  @include bp(medium) {
    padding-right: 0; // reset van algemene padding-right op .icon
  }
}

.icon-angle-right:before {
	content: "\f105";
}

.icon-baby63:before {
	content: "\e900";
}
.icon-flower66:before {
	content: "\e901";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-vimeo:before {
	content: "\e61f";
}


