  .acc-toggle {cursor: pointer;}
  .acc-content {display: none;}

.acc-content {
  padding-left: 2rem;
  
  &:before {
    content: '>'; // dit is dus niet de goede code...
    float: left;
    margin-left: -2rem; // gelijk aan padding-left van parent
  }
}
