/**

  @blocks
--------------------------------------------------------
  modules/_blocks.scss
--------------------------------------------------------

  Blocks contain sections of content.  Blocks can have
  different visual styling, but usually have the same
  structure; one spacing unit margin at the bottom,
  and some have borders, and padding, etc.

-----------------------------------------------------  */

// Blocks add bottom margin
//

.o-block {
  padding: vr(4);
  margin-bottom: vr(4);
  border-radius: 5px;
//  background-color: $grey40;
}

.c-block {
  &--facebook {
    margin-bottom: vr(4);
    & a {
      display: block;
      color: $white;
      background-color: mix($white, $green-blue, 30%);
      border-radius: 5px;
      border-bottom: none;
      padding: vr(4) vr(4) vr(4) vr(2);
      transition: all 0.35s ease;
      
      &:hover {
        color: $white;
        background-color: mix($white, $green-blue, 20%);
        border-bottom: none; // reset for regular links
      }
    }
    & p {
      margin-left: vr(8);
      margin-bottom: 0;
  
      &:before {
        font-family: 'icomoon';
        @include set-type($ms-up4);
        display: block;
        float: left;
        width: vr(4);
        margin-left: -2.5rem;
        vertical-align: middle;
        color: mix($white, $green-blue, 90%);
        content: '\f09a';
        
        @include bp(x-small) {
          @include set-type($ms-up3);
        }
        @include bp(small) {
          @include set-type($ms-up4);
        }      
      }
    }
  }
  
  &--categories {
    display: none;

    @include bp(small) {
      display: block;
      background-color: mix($white, $green-yellow, 60%);
    }
/*     @include bp(x-small) {
      @include span(6 of 12);
    }

    @include bp(small) {
      @include span(12 of 12);
    }
*/
  }
  &--helpdesk {
    background-color: mix($white, $green-yellow, 80%);

/*     @include bp(x-small) {
      @include span(6 at 7 of 12);
    }

    @include bp(small) {
      @include span(12 of 12);
    }
    */
  }
  
  &--sidebar {
    position: relative;
    padding: vr(4) vr(1) 0;
//    margin-top: 3rem; // dit zo goed mogelijk gelijk stellen met de offset in sticky-block.js
    background-color: $white;
    opacity: 0.8;
    border-radius: 5px;
    z-index: 1000;
  }
  
  &--signup {
    background-color: mix($white, $yellow, 70%);
  }
}
