.figures { 
  
  display: none;
  
  @include bp(medium) {
    
    display: block;
    position: absolute;
    
    &--about {
      left: 20px; // Deze wellicht nog verder opschuiven bij grotere schermbreedtes
      top: 150px;
      
      @include bp(large) {
        left: 60px;
      }
      
      
      &--intro {
        width: 221px;
        height: 198px;
        background: url(img/kasteel.png) 0 0 no-repeat;
      }
      
      &--1 {
        width: 212px;
        height: 243px;
        background: url(img/baby-met-boompje.png) 0 0 no-repeat;
      }

      &--2 {
        width: 203px;
        height: 349px;
        background: url(img/bloempot.png) 0 0 no-repeat;
      }

      &--3 {
        width: 225px;
        height: 192px;
        background: url(img/meisje-wortel.png) 0 0 no-repeat;
      }

      &--4 {
        width: 230px;
        height: 240px;
        background: url(img/bakfiets.png) 0 0 no-repeat;
      }
      
      &--5 {
        width: 232px;
        height: 397px;
        background: url(img/moeder-met-beer.png) 0 0 no-repeat;
      }

      &--6 {
        width: 176px;
        height: 420px;
        background: url(img/stapelblokken.png) 0 0 no-repeat;
      }
    
      &--7 {
        width: 212px;
        height: 170px;
        background: url(img/varken-met-kaplaarzen.png) 0 0 no-repeat;
      }
    
    }
    
    &--faq { // op faq-pagina
      top: 10px;
      left: 100px;
      width: 172px;
      height: 200px;
      background: url(img/kar-zandbak.png) 0 0 no-repeat;
    }

    &--media { // op media-pagina
      top: 10px;
      left: 100px;
      width: 79px;
      height: 200px;
      background: url(img/vogelhuisje.png) 0 0 no-repeat;
    }

  }
  
}

.figures--parents {
  width: 100%;
  margin-bottom: vr(4);
  
  &__1 {
    background: url(img/baby-boompje-tractor.png) 50% 0 no-repeat;
    height: 130px;
  }
  &__2 {
    background: url(img/meisje-met-gieter.png) 50% 0 no-repeat;
    height: 138px;
  }
  
}

.figures--contact {
  
  display: none;
  
  @include bp(small) {
    display: block;
    width: 100%;
    margin: vr(4) 0;
    background: url(img/cirkel-kasteel-kantoor.png) 50% 0 no-repeat;
    height: 260px;
  }
}

