.gallery { 
  
  @include bp(small) {
    margin-right: span(2 of 12) * -1;
  }
  
  @include bp(medium) {
    margin-right: gutter(3) * -1;
  }
  
  a {
    display: block;
    margin-bottom: gutter(10px);
    margin-left: gutters(10px);
  
    @include gallery(6 of 12);
    
    @include bp(small) {
       @include gallery(4 of 12); 
    }
        
    @include bp(large) {
      @include gallery(3 of 12);
    }
    
    img {
      width: 100%;
      vertical-align: middle;
      border: 10px solid $white;
      border-radius: 2px;
    }
  }
} 