.gallery { 
  
  a {
    display: block;
    margin-bottom: gutter(10px);
  
 /*   @include gallery(6 of 12);
    
    @include bp(small) {
       @include gallery(4 of 12); 
    }
        
    @include bp(large) {
      @include gallery(3 of 12);
    } */
    
    img {
      width: 100%;
      vertical-align: middle;
      border: 1px solid $white;
    }
  }
} 