.o-logo {
  background: url(img/logo2.png) 0 0 no-repeat;
  height: 60px; //let op: rekening houden met totale hoogte van de header; zie ook $height-header in variables.scss
  width: 190px;    
  
  h1 {
    margin-left: -9999px;
  }
}