/*<header id="head">
	<div class="container">
    	<nav id="menu">
    		
    		<input type="checkbox" id="toggle-nav"/>
    		<label id="toggle-nav-label" for="toggle-nav"><i class="icon-reorder"></i>
            </label>
    		
    		<div class="box">
	    		<ul>
	    			<li><a href="#"><i class="icon-home"></i> home</a></li>
	    			<li><a href="#"><i class="icon-file-alt"></i> about</a></li>
	    			<li><a href="#"><i class="icon-copy"></i> works</a></li>
	    			<li><a href="#"><i class="icon-envelope"></i> contacts</a></li>
	    		</ul>
    		</div>
    		
    	</nav>
	</div>
</header>*/



#toggle-nav-label {
	display: block;
	cursor: pointer;
	z-index: 500;
	width: 100px;
	height: 30px;
	border-radius: 5px;
}

.nav-menu-container {
  position: absolute;
  top: 10px;
  right: 0;
  width: 100px;
  z-index: 500;
  
  @include bp(small) {
    visibility: hidden;
  }
  
}

.nav-menu-container__button {
  position: fixed;
  height: 27px;
  width: 35px;
  cursor: pointer;
 // z-index: 600;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  span {
  background: $red;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  left: 50px;
  transition: all .35s ease;
  cursor: pointer;

    @for $i from 1 through 3 {
        $top: ($i * 10px) - 10px;
        &:nth-of-type(#{$i}) { 
          top: $top;
        }
      } 
  }
}

.nav-menu-container__title {
  float: left;
  color: $black;
}

#toggle-nav { display: none; }

#toggle-nav:checked ~ .nav-menu { 
  opacity: 0.9;
  z-index: 400;
}

#toggle-nav:checked ~ #toggle-nav-label .nav-menu-container .nav-menu-container__title { 
  color: $white;
}

#toggle-nav:checked ~ #toggle-nav-label .nav-menu-container .nav-menu-container__button .top { 
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: $white;
}
#toggle-nav:checked ~ #toggle-nav-label .nav-menu-container .nav-menu-container__button .middle {
  opacity: 0;
  background: $white;
}

#toggle-nav:checked ~ #toggle-nav-label .nav-menu-container .nav-menu-container__button .bottom {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: $white;
}


.nav-menu {
	position: fixed;
	text-align: center;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: $red;
	transition: all 0.3s ease-in-out;
}

nav {
  
  ul {
	position: relative;
	top: 80px; // iets gelijk aan hoogte header
    margin: 0 auto;
    display: inline-block;
	transition: all 0.3s ease-in-out;
  }
  
  li { 
    display: block;
    position: relative;
    opacity: 0;
    
    @for $i from 1 through 5 {
      $delay: ($i * .10s) + .25s;
      &:nth-of-type(#{$i}) { 
        animation-delay: $delay;
      }
    } 
    
    a {
        display: block;
        position: relative;
        color: $white;
        text-decoration: none;
        overflow: hidden;
        @include set-type($ms-up2);
    }
  
  }
}

#toggle-nav:checked ~ .nav-menu ul li:nth-child(odd) {
  animation: fadeInRight .5s ease forwards;
}

#toggle-nav:checked ~ .nav-menu ul li:nth-child(even) {
  animation: fadeInLeft .5s ease forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    right: 20%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}