.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-baby-boompje-tractor {
    width: 237px;
    height: 130px;
    background-position: -5px -5px;
}

.sprite-baby-in-bedje {
    width: 216px;
    height: 218px;
    background-position: -252px -5px;
}

.sprite-baby-met-boompje {
    width: 212px;
    height: 243px;
    background-position: -478px -5px;
}

.sprite-bakfiets {
    width: 230px;
    height: 240px;
    background-position: -700px -5px;
}

.sprite-bloempot {
    width: 187px;
    height: 314px;
    background-position: -940px -5px;
}

.sprite-cirkel-kapoentjes {
    width: 260px;
    height: 260px;
    background-position: -5px -329px;
}

.sprite-cirkel-kasteel-kantoor {
    width: 260px;
    height: 260px;
    background-position: -275px -329px;
}

.sprite-cirkel-kikkers {
    width: 260px;
    height: 260px;
    background-position: -545px -329px;
}

.sprite-cirkel-krekels {
    width: 260px;
    height: 260px;
    background-position: -815px -329px;
}

.sprite-cirkel-kuikentjes {
    width: 260px;
    height: 260px;
    background-position: -5px -599px;
}

.sprite-grijze-boom {
    width: 232px;
    height: 256px;
    background-position: -275px -599px;
}

.sprite-kaplaarzen-paraplu {
    width: 238px;
    height: 219px;
    background-position: -517px -599px;
}

.sprite-kar-gitaar {
    width: 196px;
    height: 192px;
    background-position: -765px -599px;
}

.sprite-kar-zandbak {
    width: 230px;
    height: 267px;
    background-position: -971px -599px;
}

.sprite-kasteel {
    width: 221px;
    height: 198px;
    background-position: -5px -876px;
}

.sprite-meisje-gieter-boompje {
    width: 212px;
    height: 251px;
    background-position: -236px -876px;
}

.sprite-meisje-gitaar {
    width: 122px;
    height: 204px;
    background-position: -1137px -5px;
}

.sprite-meisje-met-gieter {
    width: 200px;
    height: 138px;
    background-position: -458px -876px;
}

.sprite-meisje-met-kroon {
    width: 172px;
    height: 438px;
    background-position: -1269px -5px;
}

.sprite-meisje-wortel {
    width: 225px;
    height: 192px;
    background-position: -1211px -453px;
}

.sprite-menu {
    width: 179px;
    height: 566px;
    background-position: -1211px -655px;
}

.sprite-moeder-met-beer {
    width: 232px;
    height: 397px;
    background-position: -5px -1231px;
}

.sprite-stapelblokken {
    width: 176px;
    height: 420px;
    background-position: -247px -1231px;
}

.sprite-trompet-met-ballon {
    width: 80px;
    height: 330px;
    background-position: -433px -1231px;
}

.sprite-varken-met-kaplaarzen {
    width: 212px;
    height: 170px;
    background-position: -523px -1231px;
}

.sprite-vogelhuisje {
    width: 222px;
    height: 562px;
    background-position: -1451px -5px;
}