$black: #222;
$white: #fff;

$red: #c81f1d;
$green: #27a335;
$green-blue: #117878;
$green-yellow: #86BB1B;
$yellow: #ECF90F;



$blue: #1888e7;

$grey90: lighten($black, 10%);
$grey80: lighten($black, 20%);
$grey70: lighten($black, 30%);
$grey60: lighten($black, 40%);
$grey50: lighten($black, 50%);
$grey40: lighten($black, 60%);
$grey30: lighten($black, 70%);
$grey20: lighten($black, 80%);
$grey10: lighten($black, 90%);

$blue90: lighten($blue, 10%);
$blue80: lighten($blue, 20%);
$blue70: lighten($blue, 30%);
$blue60: lighten($blue, 40%);
$blue50: lighten($blue, 50%);
$blue40: lighten($blue, 60%);
$blue30: lighten($blue, 70%);
$blue20: lighten($blue, 80%);
$blue10: lighten($blue, 90%);

$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-google: #dd4b39;
$color-pinterest: #cb2027;