/**

  @body
--------------------------------------------------------
  elements/_body.scss
--------------------------------------------------------

  Body should contain the document's default font and
  background color for the content, if that background
  color is different than the html.

------------------------------------------------------ */


body {
  background: mix($white, $yellow, 95%);
  line-height: $base-line-height;
  padding-top: $height-header;
}

body.p-404 {
  padding-top: 10px;
}