

.l-sidebar {

  &--faq {
    
 
    
    @include bp(small) {
      @include span(4 at 9 of 12 last);
    }
  }
  
  &--about--pinned {
    
    display: none;
    
    @include bp(medium) {
      display: block;
      padding-top: vr(4); // gelijk aan offset in sticky-block.js
      @include span(4 of 12);
    }
    
  }

}

