/**

  @container
--------------------------------------------------------
  layout/_container.scss
--------------------------------------------------------

  The .container class is applied to restrict the
  max-width of an element, usually a bit of content.

  Often, you will place a .container div within another
  element that has a background color. This gives you
  a full-bleed background, but the content is contained
  within the max-width.

  Example: Container within a section
  <section class="awesome-section-with-background-color">
    <div class="container">
      <p>Your content goes here... </p>
    </div>
  </section>

------------------------------------------------------ */

.l-container {
  @include container;
  position: relative; // voor absolute positionering van .figures op pagina Wie zijn wij
  padding: 0 4%;
  
  @include bp(xx-large) {
    padding: 0;
  }
  
  &--homepage {
    position: static;
  }
  
}

.l-wrapper {
  width: 100%;
  
  &--content {
    padding-top: vr(4); 
    padding-bottom: vr(4);
  }
  
  &--homepage-nav {
    background-color: mix($white, $green-yellow, 90%);
  }
  
  &--about {
    min-height: 100vh;
    padding-top: vr(4);
    padding-bottom: vr(8);
    
    &--intro {
      background-color: mix($white, $yellow, 95%);
    }
    &--1 {
      padding-bottom: 0; // reset van de padding-bottom, omdat deze doorloopt vanwege #pin__container
    }
    &--1, &--5 {
      background-color: mix($white, $green-yellow, 50%);
    }
    &--2, &--6 {
      background-color: mix($white, $green-yellow, 80%);
    }
    &--3, &--7 {
      background-color: mix($white, $green-yellow, 60%);
    }
    &--4 {
      background-color: mix($white, $green-yellow, 90%);
    }
  }
  
  &--footer {
    background-color: mix($white, $red, 50%);
  }
  
}

